@import url("https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css");
body {
  // background: red;

  font-family: sans-serif;
  padding-bottom: 300px;
}
.container {
  width: 800px;
  margin: 0 auto;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
}

.travin-tabel-head-style {
  font-size: 14px;
  border: none !important;
}

.traninno-table-footer {
  font-size: 14px;
}

.travinno-table-header-style {
  font-size: 14px;
  font-weight: 600;
}

.gridjs-head {
  display: flex;
  justify-content: space-between;
  &::after {
    display: none;
  }
  button {
    border: 1px solid rgba(0, 0, 0, 0.116);
    padding: 10px 20px;
  }
}
